<!DOCTYPE html>
<html lang="en">
<%- include('template/header.ejs') %> 
<body class="text-center">
    <%- include('template/navbar.ejs') %> 
    <h1 class="display-2"><%= title.toUpperCase() %> </h1>
    <div class="container">
        <div class="row justify-content-around">
            <% if(episodes.length > 0) { %> 
            <% for(issue of episodes){ %> 
                <div class="col-lg-3 col-md-5 col-sm-10 mb-2">
                    <% let epi = issue.slice(2, issue.length); %>
                    <a target="_blank" href="<%= issue %>" class="btn btn-secondary" style="height: 62px; display: flex; justify-content: center;"><%= epi.toUpperCase() %> </a>
                    <br>
                </div>
                <% } %> 
                <% }else{ %>
                    <h1 class="display-1">NO EPISODES YET</h1> 
                    <% } %> 
                
            </div>
        </div>
</body>
</html>