<!DOCTYPE html>
<html lang="en">

    <%- include('template/header.ejs') %> 
    <body>
        <%- include('template/navbar.ejs') %> 
    <% for (rip of arp){ %>
        <% if(rip.img){ %> 
        <img src="<%= rip.img %> " alt=""> 
        <% } %> 
        <h1><a href="<%= rip.link %> "><%= rip.name %> </a></h1>
        <br>
        <% } %> 
    
</body>
</html>